@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Inter:wght@400;500;600;700&family=Podkova&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg:white;
  --textColor:black;
  --secondary: #626262;
  --softBg:#f0f0f0;
}

.light {
  color: black;
  background-color: white;
  --bg: white;
  --textColor: black;
  --secondary: #626262;
  --softBg:#f0f0f0;
}
.dark{
  color: #ddd;
  background-color: #0f172a;
  --bg:#0f172a;
  --textColor:#ddd;
  --secondary: #626262;
  --softBg:#1f273a;
}

input, textarea{
  background-color: var(--softBg);
  outline: none;
}

body{
  font-family: 'Inter', sans-serif;
}

html{
  scroll-behavior: smooth;
}